<header class="header">
    <div class="wrap">
        <h1 class="fl">
            <a href="/"  class="fl logo">
                <img src="/picture/logo.png"
                     alt="TI Alliance" width="154" height="49" />
            </a>
        </h1>
        <div class="fl logo_text">
            <img src="/picture/logo_text.jpg"
                 alt="懂你所需，做你所想" width="163" height="49" />
        </div>
        <div class="fr">
            <div class="top">
              <span class="call">
              </span>
              <span class="call_tel">
                13808221061
              </span>
                <a>
                <span class="email">
                </span>
                    838630659@qq.com
                </a>
                <!--<a class="ewm">-->
                <!--<span class="weixin">-->
                <!--</span>-->
                    <!--TI联盟网站建设-->
                    <!--<img src="/picture/contact_weixin.jpg"-->
                         <!--width="258" height="258" alt="TI微信" />-->
                <!--</a>-->
            </div>
            <nav class="nav">
                <ul class="fix">
                    <li id="menu1">
                        <a href="/" >
                            官网首页
                        </a>
                    </li>
                    <li id="menu2">
                        <a href="/about" >
                            关于我们
                        </a>
                    </li>
                    <li id="menu3">
                        <a href="/cases" >
                            成功案例
                        </a>
                    </li>
                    <li id="menu4">
                        <a href="/services" >
                            服务范围
                        </a>
                    </li>
                    <li id="menu5">
                        <a href="/mobile" >
                            移动终端
                        </a>
                    </li>
                    <li id="menu6">
                        <a href="/solutions" >
                            解决方案
                        </a>
                    </li>
                    <!--<li id="menu7">-->
                        <!--<a href="content.html" >-->
                            <!--新闻资讯-->
                        <!--</a>-->
                    <!--</li>-->
                    <li id="menu8">
                        <a href="/contact" >
                            联系我们
                        </a>
                    </li>
                </ul>
              <span class="nav_icon">
              </span>
            </nav>
        </div>
    </div>
</header>