<div class="right_contact_201601" id="right_contact_201601">
    <ul>
        <li class="li_top" onClick="gotop_201601()">
        </li>
        <li class="li_tel">
            <div class="hover">
                <div class="text">
                    138-0822-1061
                    <br>
                    0000-0000 0000
                </div>
            </div>
        </li>
        <li class="li_qq">
            <div class="text">
                <a target="_blank" rel="nofollow" href="javascript:if(confirm('http://wpa.qq.com/msgrd?v=3&uin=136002643&site=qq&menu=yes, 您确定要打开此链接吗?'))window.location='http://wpa.qq.com/msgrd?v=3&uin=136002643&site=qq&menu=yes'">
                    <img border="0" src="/picture/qq.png"
                         width="90px" height="20px" alt="136002643" />
                </a>
                <br>
                <a target="_blank" rel="nofollow" href="javascript:if(confirm('http://wpa.qq.com/msgrd?v=3&uin=838630659&site=qq&menu=yes, 您确定要打开此链接吗?'))window.location='http://wpa.qq.com/msgrd?v=3&uin=838630659&site=qq&menu=yes'">
                    <img border="0" src="/picture/qq.png"
                         width="90px" height="20px" alt="838630659" />
                </a>
            </div>
        </li>
        <li class="li_close" onClick="close_contact_201601()">
        </li>
    </ul>
</div>